.alt-navigation__item {
  margin-bottom: 4px;
}

.alt-navigation__item:last-child {
  margin-bottom: 0;
}

.alt-navigation__title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.alt-navigation__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-secondary);
  transition: color 150ms;
}

@media (hover: hover) {
  .alt-navigation__link:hover {
    color: var(--color-blue);
  }
}
