.footer-navigation {
  --_footer-navigation-title-color: var(--color-gray-9);
  --_footer-navigation-link-color: var(--color-gray-7);
}

@media (prefers-color-scheme: dark) {
  .footer-navigation {
    --_footer-navigation-title-color: var(--color-gray-3);
    --_footer-navigation-link-color: var(--color-gray-5);
  }
}

.footer-navigation__item {
  margin-bottom: 8px;
}

.footer-navigation__item:last-child {
  margin-bottom: 0;
}

.footer-navigation__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  color: var(--_footer-navigation-title-color);
}

.footer-navigation__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--_footer-navigation-link-color);
  transition: color 150ms;
}

@media (hover: hover) {
  .footer-navigation__link:hover {
    text-decoration: underline;
    --_footer-navigation-link-color: var(--color-indigo-5);
  }
}
