.footer-navigation {
  --_footer-navigation-title-color: var(--color-on-surface);
}

.footer-navigation__item {
  margin-bottom: 0.5rem; /* 8px */
}

.footer-navigation__item:last-child {
  margin-bottom: 0;
}

.footer-navigation__title {
  margin-bottom: 1rem; /* 16px */
  font-size: 1.250rem; /* 20px */
  font-weight: 700;
  color: var(--_footer-navigation-title-color);
}
