.header-navigation {
  --_header-navigation-border-color: var(--color-surface-variant);
  --_header-navigation-item-line-color: var(--color-primary);
  
  margin-left: -1.5rem; /* -24px */
  margin-right: -1.5rem; /* -24px */
  width: calc(100% + 3rem); /* 48px */
  height: 100%;
  border-bottom: 0.25rem solid var(--_header-navigation-border-color); /* 4px */
}

.header-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header-navigation__item {
  flex: 1 1 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-navigation__item--active {
  cursor: default;
  pointer-events: none;
  user-select: none;
}

.header-navigation__item--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem; /* -4px */
  width: 100%;
  height: 0.25rem; /* 4px */
  background-color: var(--_header-navigation-item-line-color);
}

@media screen and (min-width: 576px) {
  .header-navigation {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header-navigation {
    width: 21.75rem; /* 348px */
    border-bottom: none;
  }

  .header-navigation__item--active::after {
    bottom: auto;
    top: 0;
  }
}