.main-navigation {
  --_main-navigation-border-color: var(--color-gray-3);
  --_main-navigation-item-color: var(--color-gray-9);
  --_main-navigation-item-active-color: var(--color-indigo-6);
  --_main-navigation-item-line-color: var(--color-indigo-6);
  margin-left: -24px;
  margin-right: -24px;
  width: calc(100% + 48px);
  height: 100%;
  border-bottom: 4px solid var(--_main-navigation-border-color);
}

@media (prefers-color-scheme: dark) {
  .main-navigation {
    --_main-navigation-border-color: var(--color-dark-6);
    --_main-navigation-item-color: var(--color-gray-3);
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.main-navigation__item {
  flex: 1 1 0;
  position: relative;
  height: 100%;
  color: var(--_main-navigation-item-color);
}

.main-navigation__item--active {
  color: var(--_main-navigation-item-active-color);
  cursor: default;
}

.main-navigation__item--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background-color: var(--_main-navigation-item-line-color);
}

@media (hover: hover) {
  .main-navigation__item:not(.main-navigation__item--active):hover {
    color: var(--_main-navigation-item-active-color);
  }
}

.main-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .main-navigation {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-navigation {
    width: 348px;
    border-bottom: none;
  }

  .main-navigation__item--active::after {
    bottom: auto;
    top: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .main-navigation__link {
    transition: color 150ms;
  }
}