.main-navigation {
  margin-left: -24px;
  margin-right: -24px;
  width: calc(100% + 48px);
  height: 100%;
  border-bottom: 4px solid transparent;
}

.main-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.main-navigation__item {
  flex: 1 1 0;
  height: 100%;
}

.main-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: transparent;
}

.main-navigation__link:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

@media screen and (min-width: 576px) {
  .main-navigation {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-navigation {
    width: 348px;
    border-bottom: none;
    border-top: 4px solid transparent;
  }
}