.container {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 576px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 576px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (min-width: 1412px) {
  .container {
    max-width: 1412px;
  }
}