.footer {
  --_footer-background-color: var(--color-gray-100);
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--_footer-background-color);
}

@media (prefers-color-scheme: dark) {
  .footer {
    --_footer-background-color: var(--color-gray-800);
  }
}