.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}

.grid__item--with-overlay {
  position: relative;
}

.grid__overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  opacity: 0.8;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .grid--popular,
  .grid--places,
  .grid--activities {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .grid--footer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1412px) {
  .grid--main {
    grid-template-columns: 1fr auto;
  }

  .grid--popular {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid--places {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid--activities {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid__item--row-span {
    grid-row: span 2 / span 2;
  }

  .grid__item--col-span {
    grid-column: span 2 / span 2;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .grid__overlay {
    transition-property: visibility, opacity;
    transition-duration: 150ms;
  }
}