.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}

.grid--popular {

}

.grid--places {

}

.grid--activities {

}

@media screen and (min-width: 1412px) {
  .grid--places {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid--activities {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid__item-row-span {
    grid-row: span 2 / span 2;
  }
}