.header {
  --header-login-color: var(--color-indigo-6);
  position: relative;
  z-index: 100;
  margin-bottom: 2rem; /* 32px */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__section {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.5rem; /* 56px */
}

.header__section--logo {
  order: 1;
  width: 50%;
}

.header__section--login {
  order: 2;
  justify-content: flex-end;
  width: 50%;
}

.header__section--navigation {
  order: 3;
  width: 100%;
}

.header__logo {
  width: 100px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
  }

  .header__section {
    height: 5rem; /* 80px */
  }

  .header__section--logo {
    flex: 1 1 0;
    width: auto;
    order: 1;
  }
  
  .header__section--login {
    flex: none;
    width: 5rem; /* 80px */
    order: 3;
  }
  
  .header__section--navigation {
    flex: none;
    width: auto;
    order: 2;
  }
}