.hero {
  --_hero-title-color: var(--color-gray-9);
  --_hero-subtitle-color: var(--color-gray-7);
  margin-bottom: 48px;
}

@media (prefers-color-scheme: dark) {
  .hero {
    --_hero-title-color: var(--color-gray-3);
    --_hero-subtitle-color: var(--color-gray-5);
  }
}

.hero__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  color: var(--_hero-title-color);
  line-height: 32px;
}

.hero__subtitle {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--_hero-subtitle-color);
  line-height: 24px;
}