.hero {
  margin-bottom: 48px;
}

.hero__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text-primary);
  line-height: 28px;
}

.hero__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-secondary);
  line-height: 24px;
}