.hero {
  --_hero-title-color: var(--color-on-surface);
  --_hero-subtitle-color: var(--color-on-surface-variant);
  
  margin-bottom: 1.5rem; /* 24px */
}

.hero__title {
  margin-bottom: 0.75rem; /* 12px */
  color: var(--_hero-title-color);
}

.hero__subtitle {
  color: var(--_hero-subtitle-color);
}