.page {
  --_page-background-color: var(--color-background);
  
  position: relative;
  background-color: var(--_page-background-color);
}

.page__icons {
  display: none;
}

.page__input {
  display: none;
}
