.rating {
  --_rating-filled-star-color: var(--color-primary);
  --_rating-empty-star-color: var(--color-outline-variant);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
}

.rating__icon {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
}

.rating__icon:nth-child(-n+3) {
  color: var(--_rating-filled-star-color);
}

.rating--3-of-5 > .rating__icon:nth-child(n+4) {
  color: var(--_rating-empty-star-color);
}

.rating--4-of-5 > .rating__icon:nth-child(4) {
  color: var(--_rating-filled-star-color);
}

.rating--4-of-5 > .rating__icon:nth-child(5) {
  color: var(--_rating-empty-star-color);
}

.rating--5-of-5 > .rating__icon:nth-child(n+4) {
  color: var(--_rating-filled-star-color);
}