.search {
  margin-bottom: 32px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 428px;
  height: 56px;
}

.search__icon-box {
  position: relative;
  z-index: 20;
  flex: none;
  display: flex;
  width: 56px;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: var(--color-light-gray);
  color: var(--color-text-primary);
}

.search__icon {
  margin: auto;
  width: 20px;
  height: 20px;
}

.search__input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 64px;
  padding-right: 72px;
  border-radius: 16px;
  border: 1px solid var(--color-light-gray);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.search__input:focus-visible {
  outline-width: 1px;
  outline-offset: 4px;
  outline-color: var(--color-blue);
}

.search__button {
  flex: none;
  position: relative;
  z-index: 20;
  display: flex;
  width: 56px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: background-color 150ms;
}

.search__button:hover {
  background-color: var(--color-blue-hover);
}

.search__label {
  display: none;
}

@media screen and (min-width: 576px) {
  .search__input {
    padding-right: 144px;
  }

  .search__button {
    padding-left: 16px;
    padding-right: 16px;
    width: 128px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }

  .search__icon--search {
    display: none;
  }
  
  .search__label {
    margin: auto;
    display: block;
    font-size: 16px;
    font-weight: 700;
  }
}