.search {
  --_search-height: 3.5rem; /* 56px */
  --_search-max-width: 26.75rem; /* 428px */
  --_search-border-radius: 0.75rem; /* 12px */

  --_search-icon-size: 1.25rem; /* 20px */
  --_search-icon-background-color: var(--color-primary-container);
  --_search-icon-color: var(--color-primary);

  --_search-input-padding: 1rem; /* 16px */
  --_search-input-border-color: var(--color-primary-container);
  --_search-input-ring-color: var(--color-primary);
  --_search-input-placeholder-color: var(--color-on-surface-variant);
  --_search-input-color: var(--color-on-surface);

  margin-bottom: 3rem; /* 48px */
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--_search-max-width);
  height: var(--_search-height);
}

.search__icon-box {
  z-index: 10;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--_search-height);
  height: var(--_search-height);
  border-top-left-radius: var(--_search-border-radius);
  border-bottom-left-radius: var(--_search-border-radius);
  background-color: var(--_search-icon-background-color);
  color: var(--_search-icon-color);
}

.search__icon {
  width: var(--_search-icon-size);
  height: var(--_search-icon-size);
}

.search__input {
  z-index: 30;
  flex: 1;
  width: 100%;
  height: 100%;
  padding-left: var(--_search-input-padding);
  padding-right: var(--_search-input-padding);
  color: var(--_search-input-color);
  border-top: 1px solid var(--_search-input-border-color);
  border-bottom: 1px solid var(--_search-input-border-color);
}

.search__input::placeholder {
  color: var(--_search-input-placeholder-color);
}

.search__button {
  z-index: 20;
  flex: none;
  height: var(--_search-height);
  border-top-right-radius: var(--_search-border-radius);
  border-bottom-right-radius: var(--_search-border-radius);
}