.search {
  --_search-icon-background-color: var(--color-gray-2);
  --_search-icon-color: var(--color-gray-9);
  --_search-input-border-color: var(--color-gray-2);
  --_search-input-text-color: var(--color-gray-8);
  --_search-input-ring-color: var(--color-indigo-7);
  --_search-input-placeholder-text-color: var(--color-gray-7);
  --_search-button-background-color: var(--color-indigo-7);
  --_search-button-background-hover-color: var(--color-indigo-5);
  --_search-button-label-color: var(--color-gray-0);
  margin-bottom: 32px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 428px;
  height: 56px;
}

@media (prefers-color-scheme: dark) {
  .search {
    --_search-icon-background-color: var(--color-dark-6);
    --_search-icon-color: var(--color-gray-0);
    --_search-input-border-color: var(--color-dark-6);
    --_search-input-text-color: var(--color-gray-0);
    --_search-input-ring-color: var(--color-indigo-5);
    --_search-input-placeholder-text-color: var(--color-gray-6);
    --_search-button-background-color: var(--color-indigo-7);
    --_search-button-background-hover-color: var(--color-indigo-5);
    --_search-button-label-color: var(--color-gray-0);
  }
}

.search__icon-box {
  position: relative;
  z-index: 20;
  flex: none;
  display: flex;
  width: 56px;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: var(--_search-icon-background-color);
  color: var(--_search-icon-color);
}

.search__icon {
  margin: auto;
  width: 20px;
  height: 20px;
}

.search__input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 72px;
  padding-right: 72px;
  border-radius: 16px;
  border: 1px solid var(--_search-input-border-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--_search-input-text-color);
}

.search__input::placeholder {
  color: var(--_search-input-placeholder-text-color);
}

.search__input:focus-visible {
  outline-width: 1px;
  outline-offset: 6px;
  outline-color: var(--_search-input-ring-color);
}

.search__button {
  flex: none;
  position: relative;
  z-index: 20;
  display: flex;
  width: 56px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--_search-button-background-color);
  color: var(--_search-button-label-color);
}

.search__label {
  display: none;
}

@media screen and (min-width: 576px) {
  .search__input {
    padding-right: 144px;
  }

  .search__button {
    padding-left: 16px;
    padding-right: 16px;
    width: 128px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }

  .search__icon--search {
    display: none;
  }
  
  .search__label {
    margin: auto;
    display: block;
    font-size: 16px;
    font-weight: 700;
  }
}

@media (hover: hover) {
  .search__button:hover {
    background-color: var(--_search-button-background-hover-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .search__button {
    transition: background-color 150ms;
  }
}