/*------------------------------------*\
  #card-filter
\*------------------------------------*/

/* Initial state */
#app #places .grid__item {
  display: none;
}

/* if all not checked */
#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item {
  display: flex;
}

/* if all checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}

/* if 1 checked */
#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="family"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="romantic"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="pet"] {
  display: flex;
}

/* if 2 checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="romantic"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="family"][data-filter~="romantic"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="family"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}

/* if 3 checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="romantic"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="family"][data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}