.filter-list {
  --_filter-list-row-margin-: -0.5rem; /* -8px */
  --_filter-list-item-margin: 0.5rem; /* 8px */
  --_filter-list-title-color: var(--color-on-surface);

  margin-bottom: 1rem; /* 16px */
}

.filter-list__title {
  margin-bottom: 1rem; /* 16px */
  color: var(--_filter-list-title-color);
}

.filter-list__row {
  margin: var(--_filter-list-row-margin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% + 1rem); /* 16px */
}

.filter-list__item {
  margin: var(--_filter-list-item-margin);
}

@media screen and (min-width: 992px) {
  .filter-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .filter-list__title {
    margin-bottom: 0;
    margin-right: 1.5rem; /* 24px */
  }
}