.filter {
  --_filter-border-color: var(--color-gray);
  --_filter-label-color: var(--color-text-primary);
  --_filter-shadow-size: 1px;
  --_filter-icon-color: var(--color-blue);
  --_filter-icon-x: 0;
  --_filter-foreground-color: var(--color-light-blue);
  --_filter-foreground-x: 0;
  --_filter-transition-duration: 150ms;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  border-radius: 9999px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0 0 0 var(--_filter-shadow-size) var(--_filter-border-color);
  transition-property: box-shadow;
  transition-duration: var(--_filter-transition-duration);
}

.filter__background {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

.filter__foreground {
  position: absolute;
  z-index: 20;
  top: 0;
  left: calc(-100% + 48px);
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--_filter-foreground-color);
  transform: translateX(var(--_filter-foreground-x));
  transition-property: background-color, transform;
  transition-duration: var(--_filter-transition-duration);
}

.filter__icon-box {
  position: relative;
  z-index: 30;
  flex: none;
  display: flex;
  width: 48px;
  height: 100%;
  color: var(--_filter-icon-color);
  transition: color 150ms;
}

.filter__icon {
  margin: auto;
  width: 20px;
  height: 20px;
  transform: translateX(var(--_filter-icon-x));
  transition: transform 150ms;
}

.filter__label {
  position: relative;
  z-index: 30;
  flex: 1 1 0;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  font-weight: 700;
  color: var(--_filter-label-color);
  transition: color 150ms;
}