.filter-result {
  --_filter-result-icon-color: var(--color-indigo-7);
  --_filter-result-icon-border-color: var(--color-gray-3);
  --_filter-result-count-color: var(--color-gray-9);
  margin-bottom: 3rem; /* 48px */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (prefers-color-scheme: dark) {
  .filter-result {
    --_filter-result-icon-color: var(--color-indigo-5);
    --_filter-result-icon-border-color: var(--color-dark-4);
    --_filter-result-count-color: var(--color-gray-3);
  }
}

.filter-result__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.filter-result__icon-box {
  margin-right: 0.5rem; /* 8px */
  flex: none;
  display: flex;
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  border-radius: 9999px;
  border: 1px solid var(--_filter-result-icon-border-color);
  color: var(--_filter-result-icon-color);
}

.filter-result__icon {
  margin: auto;
  width: 0.75rem; /* 12px */
  height: 0.75rem; /* 12px */
}

.filter-result__count {
  flex: 1 1 0;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
  color: var(--_filter-result-count-color);
}