.filter-result {
  --_filter-result-icon-box-size: 1.5rem; /* 24px */
  --_filter-result-icon-size: 0.75rem; /* 12px */
  --_filter-result-icon-color: var(--color-primary);
  --_filter-result-icon-border-color: var(--color-outline);
  --_filter-result-count-color: var(--color-on-surface);

  margin-bottom: 3rem; /* 48px */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.filter-result__icon-box {
  margin-right: 0.5rem; /* 8px */
  flex: none;
  display: flex;
  width: var(--_filter-result-icon-box-size);
  height: var(--_filter-result-icon-box-size);
  border-radius: 9999px;
  border: 1px solid var(--_filter-result-icon-border-color);
  color: var(--_filter-result-icon-color);
}

.filter-result__icon {
  margin: auto;
  width: var(--_filter-result-icon-size);
  height: var(--_filter-result-icon-size);
}

.filter-result__count {
  flex: 1 1 0;
  color: var(--_filter-result-count-color);
}