.filter-info {
  --_filter-info-icon-color: var(--color-indigo-7);
  --_filter-info-icon-border-color: var(--color-gray-3);
  --_filter-info-result-color: var(--color-gray-9);
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .filter-info {
    --_filter-info-icon-color: var(--color-indigo-5);
    --_filter-info-icon-border-color: var(--color-dark-4);
    --_filter-info-result-color: var(--color-gray-3);
  }
}

.filter-info__icon-box {
  margin-right: 8px;
  flex: none;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--_filter-info-icon-border-color);
  color: var(--_filter-info-icon-color);
}

.filter-info__icon {
  margin: auto;
  width: 12px;
  height: 12px;
}

.filter-info__result {
  flex: 1 1 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--_filter-info-result-color);
}