.filter-list {
  margin-bottom: 16px;
}

.filter-list__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.filter-list__row {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% + 16px);
}

.filter-list__item {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}

@media screen and (min-width: 992px) {
  .filter-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .filter-list__title {
    margin-bottom: 0;
    margin-right: 24px;
  }
}