.card-list {
  --_card-list-background-color: var(--color-gray-1);
  --_card-list-text-color: var(--color-gray-9);
  --_card-list-link-color: var(--color-gray-9);
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (prefers-color-scheme: dark) {
  .card-list {
    --_card-list-background-color: var(--color-dark-7);
    --_card-list-text-color: var(--color-gray-3);
    --_card-list-link-color: var(--color-gray-3);
  }
}

.card-list--activities {
  margin-bottom: 48px;
}

.card-list--popular {
  margin-left: -24px;
  margin-right: -24px;
  background-color: var(--_card-list-background-color);
  padding-left: 24px;
  padding-right: 24px;
}

.card-list__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-list__title {
  margin-bottom: 24px;
  font-size: 20px;
  color: var(--_card-list-text-color);
}

.card-list__icon {
  margin-bottom: 16px;
  width: 24px;
  height: 24px;
  color: var(--_card-list-text-color);
}

.card-list__link {
  margin-top: 24px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: var(--_card-list-link-color);
}

@media screen and (min-width: 576px) {
  .card-list--popular {
    margin-left: 0;
    margin-right: 0;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1412px) {
  .card-list--popular {
    order: 2;
    width: 428px;
  }

  .card-list--places {
    order: 1;
    background-color: var(--_card-list-background-color);
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 20px;
  }

  .card-list--activities {
    order: 3;
  }
}

@media (hover: hover) {
  .card-list__link:hover {
    text-decoration: underline;
    --_card-list-link-color: var(--color-indigo-5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .card-list__link {
    transition: color 150ms;
  }
}