.card-list {
  --_card-list-background-color: var(--color-surface-1);
  
  --_card-list-title-color: var(--color-on-surface);
  --_card-list-title-font-weight: var(--font-headline-medium-font-weight);
  --_card-list-title-font-size: var(--font-headline-medium-font-size);
  --_card-list-title-line-height: var(--font-headline-medium-line-height);
  --_card-list-title-letter-spacing: var(--font-headline-medium-letter-spacing);

  --_card-list-icon-size: 1.5rem; /* 24px */

  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
}

.card-list--activities {
  margin-bottom: 3rem; /* 48px */
}

.card-list--popular {
  margin-left: -1.5rem; /* -24px */
  margin-right: -1.5rem; /* -24px */
  background-color: var(--_card-list-background-color);
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
}

.card-list__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-list__title {
  margin-bottom: 1.5rem; /* 24px */
  font-weight: var(--_card-list-title-font-weight);
  font-size: var(--_card-list-title-font-size);
  line-height: var(--_card-list-title-line-height);
  letter-spacing: var(--_card-list-title-letter-spacing);
  color: var(--_card-list-title-color);
}

.card-list__icon {
  margin-bottom: 1rem; /* 16px */
  width: var(--_card-list-icon-size);
  height: var(--_card-list-icon-size);
  color: var(--_card-list-title-color);
}

.card-list__link {
  margin-top: 1.5rem; /* 24px */
}

@media screen and (min-width: 576px) {
  .card-list--popular {
    margin-left: 0;
    margin-right: 0;
    border-radius: 1rem; /* 16px */
  }
}

@media screen and (min-width: 1412px) {
  .card-list--popular {
    order: 2;
    width: 26.75rem; /* 428px */
  }

  .card-list--places {
    order: 1;
    background-color: var(--_card-list-background-color);
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
    border-radius: 1rem; /* 16px */
  }

  .card-list--activities {
    order: 3;
  }
}