.card {
  --_card-background-color: var(--color-surface-2);
  --_card-title-color: var(--color-on-surface);
  --_card-subtitle-color: var(--color-on-surface-variant);
  --_card-border-radius: 0.75rem; /* 12px */
  position: relative;
  z-index: 90;
  width: 100%;
  background-color: var(--_card-background-color);
  border-radius: var(--_card-border-radius);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.card--with-border {
  border: 0.25rem solid var(--_card-background-color); /* 4px */
}

/*------------------------------------*\
  #card-row
\*------------------------------------*/

.card--row >
.card__link {
  display: flex;
  flex-direction: column;
}

.card--row
.card__header {
  flex: none;
  width: 100%;
}

.card--row
.card__body {
  flex: 1 1 0;
}

/*------------------------------------*\
  #card-column
\*------------------------------------*/

.card--column >
.card__link {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.card--column
.card__header {
  flex: 1 1 0;
}

.card--column
.card__body {
  flex: none;
}

.card__header {
  position: relative;
  padding-top: 50%;
  overflow: hidden;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.25rem; /* 12px 20px */
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 1.5rem; /* 24px */
  color: var(--_card-title-color);
}

.card__subtitle {
  margin-bottom: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 1.5rem; /* 24px */
  color: var(--_card-subtitle-color);
}

.card__price {
  font-weight: 700;
  color: var(--_card-title-color);
}

.card__rating {
  margin-top: auto;
}

@media screen and (min-width: 375px) {
  .card--row
  .card__link {
    flex-direction: row;
    align-items: stretch;
    min-height: 8.25rem; /* 132px */
  }

  .card--row
  .card__header {
    width: 8rem; /* 128px */
    padding-top: 0;
  }
}

@media screen and (min-width: 1412px) {
  .card--full-height,
  .card--full-height
  .card__link {
    height: 100%;
  }
}

@media (hover: hover) {
  .card:hover
  .card__image {
    transform: scale(1.05);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .card__image {
    transition: transform 150ms;
  }
}