/* raleway-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/regular/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('@fonts/regular/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('@fonts/medium/raleway-v28-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('@fonts/medium/raleway-v28-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('@fonts/semi-bold/raleway-v28-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('@fonts/semi-bold/raleway-v28-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('@fonts/bold/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('@fonts/bold/raleway-v28-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --font-stack-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-stack: "Raleway", var(--font-stack-fallback);

  --font-headline-large-font-weight: 700;
  --font-headline-large-font-size: 1.5rem; /* 24px */
  --font-headline-large-line-height: 2rem; /* 32px */
  --font-headline-large-letter-spacing: 0;

  --font-headline-medium-font-weight: 700;
  --font-headline-medium-font-size: 1.25rem; /* 20px */
  --font-headline-medium-line-height: 2rem; /* 32px */
  --font-headline-medium-letter-spacing: 0;

  --font-title-large-font-weight: 700;
  --font-title-large-font-size: 1.125rem; /* 18px */
  --font-title-large-line-height: 1.5rem; /* 24px */
  --font-title-large-letter-spacing: 0;

  --font-title-medium-font-weight: 700;
  --font-title-medium-font-size: 1rem; /* 16px */
  --font-title-medium-line-height: 1.5rem; /* 24px */
  --font-title-medium-letter-spacing: 0;

  --font-body-large-font-weight: 400;
  --font-body-large-font-size: 1rem; /* 16px */
  --font-body-large-line-height: 1.5rem; /* 24px */
  --font-body-large-letter-spacing: 0;

  --font-body-medium-font-weight: 500;
  --font-body-medium-font-size: 0.875rem; /* 14px */
  --font-body-medium-line-height: 1.5rem; /* 24px */
  --font-body-medium-letter-spacing: 0;

  --font-label-large-font-weight: 600;
  --font-label-large-font-size: 1rem; /* 16px */
  --font-label-large-line-height: 1.5rem; /* 24px */
  --font-label-large-letter-spacing: 0.1px;

  --font-label-medium-font-weight: 500;
  --font-label-medium-font-size: 0.9375rem; /* 15px */
  --font-label-medium-line-height: 1.5rem; /* 24px */
  --font-label-medium-letter-spacing: 0.1px;
}