@import "./reset.css";

@import "./components/container.css";
@import "./components/grid.css";
@import "./components/hero.css";
@import "./components/page.css";
@import "./components/rating.css";
@import "./components/bar/bottom-bar.css";
@import "./components/bar/search-bar.css";
@import "./components/card/card-list.css";
@import "./components/card/card.css";
@import "./components/bar/top-bar.css";
@import "./components/filter/filter-info.css";
@import "./components/filter/filter-list.css";
@import "./components/filter/filter.css";
@import "./components/navigation/fake-navigation.css";
@import "./components/navigation/main-navigation.css";

:root {
  --color-blue: hsl(216, 100%, 49%);
  --color-blue-hover: hsl(216, 100%, 59%);
  --color-light-blue: hsl(216, 100%, 94%);
  --color-gray: hsl(0, 0%, 85%);
  --color-light-gray: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-text-primary: hsl(0, 0%, 10%);
  --color-text-secondary: hsl(0, 0%, 30%);
}

body {
  font-family: 'Raleway', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

#places:target ~ .fake-navigation > .fake-navigation__line {transform: translateX(0);}
#activities:target ~ .fake-navigation > .fake-navigation__line {transform: translateX(100%);}

#places:target ~ .fake-navigation > .fake-navigation__section--places {color: var(--color-blue);}
#places:target ~ .fake-navigation > .fake-navigation__section--activities {color: var(--color-text-primary);}
#activities:target ~ .fake-navigation > .fake-navigation__section--places {color: var(--color-text-primary);}
#activities:target ~ .fake-navigation > .fake-navigation__section--activities {color: var(--color-blue);}

#filter-economic:checked ~ #app .card[data-filter~="economic"] {display: block;}
#filter-economic:checked ~ #app .card:not([data-filter~="economic"]) {display: none;}

#filter-family:checked ~ #app .card[data-filter~="family"] {display: block;}
#filter-family:checked ~ #app .card:not([data-filter~="family"]) {display: none;}

#filter-romantic:checked ~ #app .card[data-filter~="romantic"] {display: block;}
#filter-romantic:checked ~ #app .card:not([data-filter~="romantic"]) {display: none;}

#filter-pet:checked ~ #app .card[data-filter~="pet"] {display: block;}
#filter-pet:checked ~ #app .card:not([data-filter~="pet"]) {display: none;}