@import "./reset.css";

@import "./components/container.css";
@import "./components/fake-navigation.css";
@import "./components/filter-info.css";
@import "./components/filter-list.css";
@import "./components/filter.css";
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/navigation.css";
@import "./components/page.css";
@import "./components/search-bar.css";

:root {
  --color-blue: hsl(216, 100%, 49%);
  --color-light-blue: hsl(216, 100%, 94%);
  --color-light-gray: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-text-primary: hsl(0, 0%, 10%);
  --color-text-secondary: hsl(0, 0%, 30%);
}

body {
  font-family: 'Raleway', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

#places:target ~ .fake-navigation > .fake-navigation__line {
  transform: translateX(0);
}

#activities:target ~ .fake-navigation > .fake-navigation__line {
  transform: translateX(100%);
}

#places:target ~ .fake-navigation > .fake-navigation__section--places {
  color: var(--color-blue);
}

#activities:target ~ .fake-navigation > .fake-navigation__section--activities {
  color: var(--color-blue);
}
