@import "./reset.css";

@import "./components/container.css";
@import "./components/footer.css";
@import "./components/grid.css";
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/page.css";
@import "./components/rating.css";
@import "./components/search.css";
@import "./components/card/card-list.css";
@import "./components/card/card.css";
@import "./components/filter/filter-info.css";
@import "./components/filter/filter-list.css";
@import "./components/filter/filter.css";
@import "./components/navigation/alt-navigation.css";
@import "./components/navigation/fake-navigation.css";
@import "./components/navigation/main-navigation.css";

:root {
  --color-blue: hsl(216, 100%, 49%);
  --color-blue-hover: hsl(216, 100%, 59%);
  --color-light-blue: hsl(216, 100%, 94%);
  --color-gray: hsl(0, 0%, 85%);
  --color-light-gray: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-text-primary: hsl(0, 0%, 10%);
  --color-text-secondary: hsl(0, 0%, 30%);
}

body {
  font-family: 'Raleway', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

/*------------------------------------*\
  #fake-navigation
\*------------------------------------*/

#places:target ~ .fake-navigation > .fake-navigation__line {transform: translateX(0);}
#activities:target ~ .fake-navigation > .fake-navigation__line {transform: translateX(100%);}

#places:target ~ .fake-navigation > .fake-navigation__section--places {color: var(--color-blue);}
#places:target ~ .fake-navigation > .fake-navigation__section--activities {color: var(--color-text-primary);}
#activities:target ~ .fake-navigation > .fake-navigation__section--places {color: var(--color-text-primary);}
#activities:target ~ .fake-navigation > .fake-navigation__section--activities {color: var(--color-blue);}

/*------------------------------------*\
  #filters
\*------------------------------------*/

#filter-economic:checked ~ #app #filter-badge-economic .filter__foreground {
  background-color: var(--color-blue);
  transform: translateX(calc(100% - 48px));
}
#filter-family:checked ~ #app #filter-badge-family .filter__foreground {
  background-color: var(--color-blue);
  transform: translateX(calc(100% - 48px));
}
#filter-romantic:checked ~ #app #filter-badge-romantic .filter__foreground {
  background-color: var(--color-blue);
  transform: translateX(calc(100% - 48px));
}
#filter-pet:checked ~ #app #filter-badge-pet .filter__foreground {
  background-color: var(--color-blue);
  transform: translateX(calc(100% - 48px));
}

#filter-economic:checked ~ #app #filter-badge-economic:hover .filter__foreground {background-color: var(--color-blue-hover);}
#filter-family:checked ~ #app #filter-badge-family:hover .filter__foreground {background-color: var(--color-blue-hover);}
#filter-romantic:checked ~ #app #filter-badge-romantic:hover .filter__foreground {background-color: var(--color-blue-hover);}
#filter-pet:checked ~ #app #filter-badge-pet:hover .filter__foreground {background-color: var(--color-blue-hover);}

#filter-economic:checked ~ #app #filter-badge-economic .filter__icon-box {color: var(--color-white);}
#filter-family:checked ~ #app #filter-badge-family .filter__icon-box {color: var(--color-white);}
#filter-romantic:checked ~ #app #filter-badge-romantic .filter__icon-box {color: var(--color-white);}
#filter-pet:checked ~ #app #filter-badge-pet .filter__icon-box {color: var(--color-white);}

#filter-economic:checked ~ #app #filter-badge-economic .filter__icon {transform: translateX(50%);}
#filter-family:checked ~ #app #filter-badge-family .filter__icon {transform: translateX(50%);}
#filter-romantic:checked ~ #app #filter-badge-romantic .filter__icon {transform: translateX(50%);}
#filter-pet:checked ~ #app #filter-badge-pet .filter__icon {transform: translateX(50%);}

#filter-economic:checked ~ #app #filter-badge-economic .filter__label {color: var(--color-white);}
#filter-family:checked ~ #app #filter-badge-family .filter__label {color: var(--color-white);}
#filter-romantic:checked ~ #app #filter-badge-romantic .filter__label {color: var(--color-white);}
#filter-pet:checked ~ #app #filter-badge-pet .filter__label {color: var(--color-white);}

/*------------------------------------*\
  #card-filter
\*------------------------------------*/

/* Initial state */
#app #places .grid__item {
  display: none;
}

/* if all not checked */
#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item {
  display: flex;
}

/* if all checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}

/* if 1 checked */
#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="family"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="romantic"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="pet"] {
  display: flex;
}

/* if 2 checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="romantic"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="family"][data-filter~="romantic"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="family"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}

/* if 3 checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="romantic"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="pet"] {
  display: flex;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="family"][data-filter~="romantic"][data-filter~="pet"] {
  display: flex;
}
