/*------------------------------------*\
  #filters
\*------------------------------------*/

#filter-economic:checked ~ #app #filter-badge-economic {
  --_filter-shadow-size: 0;
  --_filter-foreground-color: var(--color-primary);
  --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  --_filter-icon-color: var(--color-on-primary);
  --_filter-icon-x: 50%;
  --_filter-label-color: var(--color-on-primary);
}

#filter-family:checked ~ #app #filter-badge-family {
  --_filter-shadow-size: 0;
  --_filter-foreground-color: var(--color-primary);
  --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  --_filter-icon-color: var(--color-on-primary);
  --_filter-icon-x: 50%;
  --_filter-label-color: var(--color-on-primary);
}

#filter-romantic:checked ~ #app #filter-badge-romantic {
  --_filter-shadow-size: 0;
  --_filter-foreground-color: var(--color-primary);
  --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  --_filter-icon-color: var(--color-on-primary);
  --_filter-icon-x: 50%;
  --_filter-label-color: var(--color-on-primary);
}

#filter-pet:checked ~ #app #filter-badge-pet {
  --_filter-shadow-size: 0;
  --_filter-foreground-color: var(--color-primary);
  --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  --_filter-icon-color: var(--color-on-primary);
  --_filter-icon-x: 50%;
  --_filter-label-color: var(--color-on-primary);
}

@media (hover: hover) {
  #filter-economic ~ #app #filter-badge-economic:hover {
    --_filter-foreground-color: var(--color-primary-container);
    --_filter-shadow-size: 0;
    --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  }
  
  #filter-family ~ #app #filter-badge-family:hover {
    --_filter-foreground-color: var(--color-primary-container);
    --_filter-shadow-size: 0;
    --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  }
  
  #filter-romantic ~ #app #filter-badge-romantic:hover {
    --_filter-foreground-color: var(--color-primary-container);
    --_filter-shadow-size: 0;
    --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  }
  
  #filter-pet ~ #app #filter-badge-pet:hover {
    --_filter-foreground-color: var(--color-primary-container);
    --_filter-shadow-size: 0;
    --_filter-foreground-x: calc(100% - 3rem); /* 48px */
  }

  #filter-economic:checked ~ #app #filter-badge-economic:hover {--_filter-foreground-color: var(--color-primary-hover);}
  #filter-family:checked ~ #app #filter-badge-family:hover     {--_filter-foreground-color: var(--color-primary-hover);}
  #filter-romantic:checked ~ #app #filter-badge-romantic:hover {--_filter-foreground-color: var(--color-primary-hover);}
  #filter-pet:checked ~ #app #filter-badge-pet:hover           {--_filter-foreground-color: var(--color-primary-hover);}
}

/*------------------------------------*\
  #card-filter
\*------------------------------------*/

/* Initial state */
#app #places .grid__item > .grid__overlay {
  visibility: visible;
  opacity: 1;
}

/* if all not checked */
#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

/* if all checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="romantic"][data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

/* if 1 checked */
#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="family"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="romantic"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

/* if 2 checked  */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="romantic"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="family"][data-filter~="romantic"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="family"][data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:not(:checked) ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="romantic"][data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

/* if 3 checked */
#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:not(:checked) ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="romantic"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:checked ~
#filter-family:not(:checked) ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="romantic"][data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:checked ~
#filter-family:checked ~
#filter-romantic:not(:checked) ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="economic"][data-filter~="family"][data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}

#filter-economic:not(:checked) ~
#filter-family:checked ~
#filter-romantic:checked ~
#filter-pet:checked ~ #app #places .grid__item[data-filter~="family"][data-filter~="romantic"][data-filter~="pet"] > .grid__overlay {
  visibility: hidden;
  opacity: 0;
}
