:root {
  --font-family: 'Raleway';

  --color-white: #fff;
  --color-black: #000;

  --color-indigo-9: #364FC7;
  --color-indigo-8: #3B5BDB;
  --color-indigo-7: #4263EB;
  --color-indigo-6: #4C6EF5;
  --color-indigo-5: #5C7CFA;
  --color-indigo-4: #748FFC;
  --color-indigo-3: #91A7FF;
  --color-indigo-2: #BAC8FF;
  --color-indigo-1: #DBE4FF;
  --color-indigo-0: #EDF2FF;

  --color-dark-9: #101113;
  --color-dark-8: #141517;
  --color-dark-7: #1A1B1E;
  --color-dark-6: #25262B;
  --color-dark-5: #2C2E33;
  --color-dark-4: #373A40;
  --color-dark-3: #5C5F66;
  --color-dark-2: #909296;
  --color-dark-1: #A6A7AB;
  --color-dark-0: #C1C2C5;

  --color-gray-9: #212529;
  --color-gray-8: #343A40;
  --color-gray-7: #495057;
  --color-gray-6: #868E96;
  --color-gray-5: #ADB5BD;
  --color-gray-4: #CED4DA;
  --color-gray-3: #DEE2E6;
  --color-gray-2: #E9ECEF;
  --color-gray-1: #F1F3F5;
  --color-gray-0: #F8F9FA;
}