.top-bar {
  position: relative;
  z-index: 100;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-bar__section {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

.top-bar__section--logo {
  width: 50%;
}

.top-bar__section--login {
  justify-content: flex-end;
  width: 50%;
}

.top-bar__section--navigation {
  width: 100%;
}

.top-bar__logo {
  width: 100px;
  height: auto;
}

.top-bar__login {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-blue);
}

@media screen and (min-width: 768px) {
  .top-bar {
    flex-wrap: nowrap;
  }

  .top-bar__section--logo {
    flex: 1 1 0;
    width: auto;
    order: 1;
  }
  
  .top-bar__section--login {
    flex: none;
    width: 80px;
    order: 3;
  }
  
  .top-bar__section--navigation {
    flex: none;
    width: auto;
    order: 2;
  }
}